<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <connectionStrings>
    <add name="CraftingTable" connectionString="Server=(localdb)\MSSQLLocalDB;Database=CraftingTable;Integrated Security=true;Pooling=false;" />
    <!--<add name="CraftingTable" connectionString="Server=(localdb)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\CraftingTable.mdf;Initial Catalog=CraftingTable;Integrated Security=true;Pooling=false;"/>-->
    <!--<add name="CraftingTable" connectionString="Server=THOMAS\SQL2014DEVELOPER;Database=CraftingTable;Integrated Security=true;Pooling=false;"/>-->
  </connectionStrings>
</configuration>